tfenv use 1.8.5
# Used for terraform aws provider
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
# Used to create a secret for crossplane aws provider to use
export TF_VAR_crossplane_access_key_id=
export TF_VAR_crossplane_secret_access_key=""
# authentication for ArgoCD to the gitops repo (this repo)
export TF_VAR_gitops_repo="https://github.com/whereismyjetpack/infra.git"
export TF_VAR_github_username=
export TF_VAR_github_password=
